[package]
name = "fastmaths"
version = "0.1.0"
edition = "2024"

[dependencies]

[dev-dependencies]
criterion = "0.5"
libloading = "0.8"
proptest = "1.6"

[[bench]]
name = "math_bench"
harness = false

[profile.bench]
codegen-units = 1
lto = true
opt-level = 3
